.wrapper {
    position: absolute;
    top: 50%;
    right: 10px;
    color: white;
}

.videoSidebar__btn {
    padding: 8px 0;
    text-align: center;

    p {
        font-weight: 700;
        line-height: 17px;
    }
}
