.wrapper {
    position: absolute;
    bottom: 120px;
    right: 14px;
    color: white;
}

.videoSidebar__btn {
    padding: 8px 0;
    text-align: center;

    p {
        font-weight: 700;
        line-height: 17px;
    }
}
